$bullet-base-color: #f00 !default;
$bullet-base-size: 2em !default;

/////
/// @name bullets
/// @author WoJBurgess@github.com
/// @access public
/// ==
/// @param {attr | unicode} style [circle, square, arrow] - The shape the bullet points should take on
/// @param {em} size - What size the bullet points should be
/// @param {color} color - What color the bullet points should be
/// ============================================================================
/// Description
/// - Custom bullet points for unordered lists
/// (This is pretty unstable, doesn't work 100% of the time and it can be a little wonky when passed certain sizes)
/// I will fix this at some point, if you want it fixed faster, submit a PR.
/// ============================================================================
////
@mixin bullets($style: circle, $size: $bullet-base-size, $color: $bullet-base-color) {
    @warn "This feature is unstable and should be used with caution";
    list-style: none;

    li {
        position: relative;
        margin-left: 0;
        top: 50%;
        transform: translateY(-50%);

        @if ($style == arrow) {
            padding: ($size / 4) 0 ($size / 4) $size;
        } @else if ($style == square) {
            padding: ($size / 4) 0 ($size / 4) ($size - ($size / 4));
        } @else {
            padding: ($size / 4) 0 ($size / 4) ($size / 2);
        }

        &:before {
            color: $color;
            font-size: $size;
            letter-spacing: .5em;
            padding-right: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }

        @if ($style == circle) {
            &:before {
                content: '• ';
            }
        } @else if ($style == square) {

            &:before {
                content: '■ ';
            }
        } @else if ($style == arrow) {

            &:before {
                content: '4 '; //
                font-family: 'Webdings';
            }
        } @else {

            &:before {
                color: $color;
                content: '#{$style} ';
                font-size: $size;
            }
        }
    }
}
