// Private variables

// Tequilla -
$-tequilla-base: (
    legacy: false,
    enforce: false
);
$tequilla: () !default;
$-tequilla: map-merge($-tequilla-base, $tequilla);


// Flex
$-full-flex-base: (
    gutter: 30px,
    gutterType: 'padding',
    columns: 12
);
$full-flex: () !default;

$-full-flex: map-merge($-full-flex-base, $full-flex);
